.moviesList {
    display: flex;
    overflow: hidden;
}

.movieItem {
    position: relative;
    border-right: 2px solid black;
    height: 113px;
    overflow: hidden;
    cursor: pointer;
}

.details {
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    height: 100%;
    background: #00000047;
    opacity: 0;
    transition: 0.2s;
    &:hover {
        opacity: 1;
    }
}

.scroll-menu-arrow span {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.horizontal-menu {
    // height: 117px;
}